.loginForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 300px;
}

.loginForm h1 {
  color: black;
}