/* PublicLayout.module.css */
.publicLayoutContent {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Asegura que el layout ocupe al menos el 100% de la altura de la ventana */
}