.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 35px;
    box-sizing: border-box;
}

.logo {
    font-size: 32px;
    color: black;
    border: 2px solid black;
    border-radius: 0;
    padding: 10px;
    margin-left: 20px;
}

.logo:hover {
    color: #22b9ce;
    border-color: #22b9ce;
}

.button {
    font-size: 19.2px;
    border: 2px solid #22b9ce;
    border-radius: 20px;
    color: #22b9ce;
    padding: 10px 20px;
    background-color: transparent;
    transition: background-color 0.3s, color 0.3s, border-color 0.3s;
    margin-right: 20px;
}

.button:hover {
    background-color: #22b9ce;
    border-color: white;
    color: white;
}

@media (min-width: 1920px) {
    .navbar {
        padding: 50px;
    }

    h1 {
        font-size: 50px;
    }

    p {
        font-size: 20px;
    }
}

@media (max-width: 1360px) {
    .navbar {
        padding: 15px;
    }
}

@media (max-width: 1280px) {
    .navbar {
        padding: 10px;
    }
}

@media (max-width: 1024px) {
    .navbar {
        padding: 10px;
    }

    .button {
        margin-top: 10px;
    }
}

@media (max-width: 768px) {
    .logo {
        font-size: 24px;
        margin-left: 15px;
    }

    .button {
        font-size: 16px;
        padding: 8px 16px;
        margin-right: 15px;
    }
}

@media (max-width: 375px) {
    .logo {
        font-size: 19.2px;
        margin-left: 10px;
    }

    .button {
        font-size: 14.4px;
        padding: 6px 12px;
        margin-right: 10px;
    }
}